<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<!-- Chamando o head definido em layouts.html -->
<head th:replace="layouts :: headeeeerrrr"></head>

<!-- Chamando o menu definido em layouts.html -->
<nav th:replace="layouts :: foooo"></nav>

<body>
	<div class="container">
		<form action="/projects/save" th:object="${project}" method="POST">

			<input type="text" placeholder="Project Name" th:field="*{name}"> <!-- Aceita duas formas --> 
			
			<select
				th:field="${project.stage}">
				<option th:value="NOTSTARTED">Not Started</option>
				<option th:value="INPROGRESS">In Progress</option>
				<option th:value="COMPLETED">Completed</option>
			</select>

			<textarea type="text" placeholder="Enter Project Description"
				th:field="${project.description}"></textarea>

			<select th:field="*{employees}" multiple="multiple">
				<option th:each = "employee : ${allEmployee}"
						th:value = "${employee.employeeId}"
						th:text = "${employee.firstName}">
			</select>

			<button type="submit" class="btn btn-primary btn-sm mb-3">Create Project</button>

		</form>
	</div>

</body>

</html>